[Unit]
Description=Display vpngate status to e-paper
After=vpngate-autocon.service

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/screen -S vpngate-epd -m -d /opt/VPNGateRouter/venv/bin/python /opt/VPNGateRouter/epd.py
[Install]
WantedBy=multi-user.target
