[Unit]
Description=Automatic configure vpngate
After=network.target
After=kea-dhcp4-server.service

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/screen -S vpngate -m -d /opt/VPNGateRouter/venv/bin/python /opt/VPNGateRouter/main.py
[Install]
WantedBy=multi-user.target
