[Unit]
Description=Automatic configure vpngate
After=network.target
After=kea-dhcp4-server.service

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/screen -S vpngate -m -d /opt/VPNGateRouter/venv/bin/python /opt/VPNGateRouter/main.py
ExecStop=/bin/bash -c "screen -S vpngate -X stuff '^C'; sleep 1.3"
KillMode=none

[Install]
WantedBy=multi-user.target
